django
django-filter
djangorestframework
joblib
Markdown
requests
pandas
numpy
scapy
paramiko
matplotlib
seaborn
scikit-learn
scikeras==0.13.0
tensorflow==2.16.1
keras==3.3.3
flask
flask-cors
flask-expects-json
gunicorn
whitenoise>=6.5.0
django-environ>=0.10.0
sentry-sdk>=1.32.0