django
django-filter
djangorestframework
joblib
Markdown
requests
pandas
numpy
matplotlib.pyplot
seaborn
sklearn
scikit-learn
scikeras
tensorflow
keras
pickle
flask
flask-cors
flask-expects-json
event
nginx
gunicorn