django
django-filter
djangorestframework
joblib
Markdown
requests
pandas
numpy
matplotlib
seaborn
scikit-learn
scikeras==0.13.0
tensorflow==2.16.1
keras==3.3.3
flask
flask-cors
flask-expects-json
gunicorn